<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>任务调度管理控制台</title>
</head>

<body>
  <div id="app"></div>
  <script type="text/javascript">
  	function getContextPath() {
	    var pathName = document.location.pathname;
	    var index = pathName.substr(1).indexOf("/");
	    var result = pathName.substr(0,index+1);
	    return result;
	}
  </script>
<script type="text/javascript" src="js/manifest.js?89d7affe8e6aa7a2f38b"></script><script type="text/javascript" src="js/vendor.js?c81e42254d3fa09b78c9"></script><script type="text/javascript" src="js/index.js?0695dbdb070e4aad27c8"></script></body>

</html>